rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /environment/public {
      allow read: if true;
    }
  }
}
